extends ../layout.pug
block contenido
	div(class="col-md-4 col-sm-6 col-xs-9 quitar-float text-left center-block margen-a")
		h1 Login de Admin's
		form(method="POST" action="/admin" style="margin-top:1.5em;")
			div(class="form-group")
				label Contraseña
				input(type="password" name="password" placeholder="Contraseña" class="form-control")
			div(class="form-group text-right")
				input(type="submit" class="btn btn-info" value="Guardar")
