extends ../layout.pug
block contenido
  div(class="col-md-4 center-block go-up quitar-float top-space text-center")
    h1 Agregar datos la Comunidad
    form(method="POST" action="/comunidades_espanolas" style="margin-top:1.5em;")
      .form-group
        label(for='Comunidad') Comunidad
        select(name="comunidad" value="Canarias" class="form-control")
         option(value="Canarias") Canarias
      .form-group
        label(for='Provincia') Provincia
        select(name="provincia" class="form-control")
          option(value="Santa Cruz de Tenerife") Santa Cruz de Tenerife
          option(value="Las Palmas") Las Palmas
      .form-group
        label(for='Isla') Isla de la Comunidad
        select(name="isla" class="form-control")
          option(value="Gran Canaria") Gran Canaria
          option(value="La Gomera") La Gomera
          option(value="El Hierro") El Hierro
          option(value="Tenefire") Tenerife
          option(value="Fuerteventura") Fuerteventura
          option(value="La Palma") La Palma
          option(value="Lanzarote") Lanzarote
      .form-group
        label(for='Municipio') Municipio
        input.form-control(type='text', name='municipio' placeholder='Municipio de la Comunidad Canaria')
      div(class="form-group text-right")
        input(type="submit" class="btn btn-info" value="Guardar")
