extends ../layout.pug
block contenido
		div(class="col-md-5 center-block go-up quitar-float top-space text-left")
			h1 Editar cliente #{persona.nombre}
			form(method="POST" action="/menu/#{persona.id}?_method=put" style="margin-top:1.5em;" enctype="multipart/form-data")
				div(class="form-group")
					label Codigo del personao
					input(type="text" name="id" value="#{persona.id}" placeholder="Codigo de personao" class="form-control")
				div(class="form-group")
					label Distribuidora del personao
					select(name="distribuidora" value="#{persona.distribuidora}" class="form-control")
						option Brink Tools 
					//	option Materiales Eléctricos
						option Hogar
						option personaos Químicos
						option Grifería y Plomería
						option Cerrajería
						option Herreria
						option Albañilería
						option Abrasivos
						option Seguridad
						option Automotriz
						option Jardinería
						option Misceláneos
						option Herramientas Eléctricas
						option Equipos a Combustión
						option Iluminación
				div(class="form-group")
					label Categoria del personao
					select(name="categoria" value="#{persona.categoria}" class="form-control")
						option Herramientas Manuales 
						option Materiales Eléctricos
						option Hogar
						option personaos Químicos
						option Grifería y Plomería
						option Cerrajería
						option Herreria
						option Albañilería
						option Abrasivos
						option Seguridad
						option Automotriz
						option Jardinería
						option Misceláneos
						option Herramientas Eléctricas
						option Equipos a Combustión
						option Iluminación
					//input(type="text" name="categoria" placeholder="categoria del cliente" class="form-control")
				div(class="form-group")
					label Nombre
					input(type="text" name="nombre" value="#{persona.nombre}" placeholder="Nombre del persona" class="form-control")
				div(class="form-group")
					label Descripción
					textarea(name="descripcion" placeholder="Decripción del personao" class="form-control")
						= persona.descripcion
				div(class="form-group")
					label Precio
					input(type="num" name="precio" value="#{persona.precio} " placeholder="Precio del personao" class="form-control")
				div(class="form-group")
					input(type="file" name="imagen" value="#{persona.imagen}")
				div(class="form-group")
					label Contraseña
					input(type="password" name="password" placeholder="Contraseña" class="form-control")
				div(class="form-group text-right")
					input(type="submit" class="btn btn-info" value="Guardar")
